body {
	overflow-x: hidden!important;
}

/********Global Css*********/
.font-weight-600 {
	// font-weight: 600!important;
	font-weight: 400!important;
}

.font-serif {
	font-family: sans-serif!important;
}

/****** a href Hover *****/
.news-events-section {
	video {
		object-fit: cover;
	}
	.card-group-item {
		a {
			&:hover{
				color: inherit!important;
				text-decoration: none!important;
			}
		}
	}
}

/****** Letscast Benefits Section *****/
.letscast-benefits {
	.card-group-item {
		.card-link {
			.card {
				background: rgba(132, 132, 132, 0.08);
				border-radius: 16px;
				box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15)!important;
				transition: .3s ease-in-out;
				.card-body {
					padding: 1.25rem 0;
					.card-img, .card-title, .card-desc, .card-btn {
						padding: 0 1.25rem;
					}
					.card-num {
						color: #CBCBCB;
					}
					.card-title {
						color: $secondary;
						/*@include media-breakpoint-up(lg) {
							min-height: 60px;
							max-height: 60px;
							overflow: hidden;
						}*/
					}
					.card-desc {
						color: #0A1E40;
						opacity: 0.4;
						/*@include media-breakpoint-up(lg) {
							min-height: 55px;
							max-height: 55px;
							overflow: hidden;
						}*/
					}
				}
			}
			&:hover {
				.card {
					background: $primary;
					color: $white;
					.card-body {
						.card-img-top {
							filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(104%) contrast(103%);
						}
						.card-num, .card-title, .card-desc {
							color: $white;
							opacity: 1;
						}
						.card-title {
							position: relative;
							&::after {
								content: '';
								display: block;
								position: absolute;
								bottom: -14px;
								width: 100%;
								left: 0;
								border-bottom: 1px solid #ecaba8;
							}
						}
						.card-btn {
							> img {
								filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(161deg) brightness(204%) contrast(103%);
							}
						}
					}
				}
			}
		}
	}
}

/*****Footer Css****/
footer {
	// padding: 40px 0 100px;
	//background-color: #170c0b;
	background: linear-gradient(to bottom, $white 45%,#170c0b 45%);
	padding: 40px 0 40px;
	@include media-breakpoint-down(sm) {
		padding: 40px 0 40px;
	}
	.subscribe-card {
		background-image: url('../../public/images/svg/subscribe-bg.svg');
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 10px;
		.subscribe-box{
			.subcribe-form {
				.subscribe-form-inner {
					max-width: 450px;
					margin: 20px auto;
					position: relative;
					.subscribe-email {
						width: 100%;
						height: 48px;
						color: $white;
						background: transparent;
						border: 0;
						border-bottom: 1px solid $white;
						outline: 0;
						padding-right: 100px;
						font-weight: 300;
						&::placeholder {
							color: $white;
						}
					}
					.subscribe-button {
						height: 38px;
						padding: 0 10px;
						border-radius: 3px;
						border: none;
						position: absolute;
						right: 6px;
						top: 6px;
						font-size: 12px;
						color: $white;
						cursor: pointer;
						transition: .3s ease-in-out;
						background: transparent;
						&:hover{
							background: rgba(0, 0, 0, 0.3);
						}
					}
					.subscribe-message {
						color: $white;
						float: left;
						margin-top: 10px;
						text-align: left;
						font-weight: 500;
						line-height: 19px;
						opacity: 0.7;
						text-align: center;
						width: 100%;
					}
					 
				}
			} 
		}
	}
}

/****** Banner Section ******/
.banner-section {
	//background: #fedd02;
	//background-image: url(../images/png/banner.png);
	background: #080808;
	//background-image: url(../images/png/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0 0 0;
	width: 100%;
	// float: left;
	@include media-breakpoint-down(md) {
		.banner-img {
			width: 300px;
		}
		.banner-text {
			font-size: 1.5rem;
		}
	}
	@include media-breakpoint-up (xl) {
		&.clients-banner {
			height: 535px!important;
		}
	}
}

.banner-section {
	&.nofilter-banner {
		background-image: url(../images/png/banner-nofilter.png)!important;
		background-position: bottom;
	}
	&.locations-banner {
		background-image: url(../images/png/locations-banner-img.png)!important;
		background-position: center;
		@include media-breakpoint-only(md) {
			background-position: bottom!important;
			height: 500px!important;
		}
		@include media-breakpoint-only(sm) {
			background-position: bottom!important;
			height: 400px!important;
		}
		@include media-breakpoint-down(xs) {
			background-position: bottom!important;
			height: 300px!important;
		}
	}
}	

/****** Career Jobs Scroller ******/
.opening-section {
	height: 60vh;
	overflow-x: hidden;
	overflow-y: auto;
	&::-webkit-scrollbar-track {
		background: rgba(240, 90, 39,.05); 
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(240, 90, 39,.8); 
		border-radius: 5px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: rgba(240, 90, 39,.9); 
	}
}

.bg-job-listing {
	background: #f5c21b!important;
	.border-bottom {
		border-bottom: 1px solid #ffffff!important;
	}
	.job-title {
		color: #ffffff;
		background-color: #f05a27!important;
		display: inline-block;
		padding: 5px 30px;
	}
}

/****** Career SocioLadder Slider ******/
.life-sl-slider {
	img {
		border-width: 4px!important;
	}
	.slick-arrow {
		position: absolute;
		bottom: -60px;
		z-index: 99;
		border: none;
		outline: none;
		font-size: 1.5rem;
		background: transparent;
		&.slick-prev {
			left: 44%;
		}
		&.slick-next {
			left: 54%
		}
	}
}

/***** Socio CSR ******/
@include media-breakpoint-down(xs) {
	.border-img {
		width: 100%;
	}	
	
	.csr-benefits {
		.csr-benefits-img {
			width: 100%;
		}
	}
}

/*************** Scroll To Top ****************/
.scrollToTop {
	background: $white;
	bottom: 1rem;
	display: none;
    height: 45px;
    padding: 8px;
    position: fixed;
    right: 1rem;
    text-align: center;
    text-decoration: none;
    width: 45px;
    z-index: 99999;
	border-radius: 50%;
	box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, 0.14);
	i {
		color: $primary;
		font-size: 1.5rem;
		vertical-align: middle;
	}
	&:hover {
		text-decoration: none;
	}
}

/**************** Tabs Section Css ****************/

.custom-nav-tabs-section {
	.custom-nav-tabs-div {
		.custom-nav-tabs-wrapper {
			@include media-breakpoint-down(sm) {
				border: 0!important;
			}
			.custom-nav-tabs {
				&.nav-pills {
					flex-wrap: nowrap;
					overflow: auto;
					white-space: nowrap;
					width: 100%;
					padding-bottom: 10px!important;
					&::-webkit-scrollbar-thumb,
					&::-webkit-scrollbar-track {
						background: transparent; 
					}
				}
				.nav-item {
					a {
						font-size: 12px;
						letter-spacing: 0.5px;
						padding: .5rem;
						&.nav-link {
							color: $secondary;
							transition: .3s ease-out;
							background-color: #F0F0F0;
						}
						&.nav-link {
							&.active {
								color: $white;
								position: relative;
								background-color: $tertiary;
							}
						}
					}
				}
			}
		}
	}
	/*.tab-content {
		.tab-pane {
			&.active {
				animation: slide-down .4s ease-out;
			}
		}
	}*/
}

/*@keyframes slide-down {
    0% { opacity: 0; transform: translateX(100%); }
    100% { opacity: 1; transform: translateX(0); }
}*/


/********* Courses Listing Css *********/

.course-listing-section {
	.card-link {
		&:hover {
			.sub-cat-section {
				background: $primary;
			}
		}
		.sub-cat-section {
			background: rgb(30, 30, 30);
			opacity: 0.9;
			font-size: 12px;
			border-radius: 10px;
			transition: .3s ease-in-out;
		}
	}
	#courses-listing-slider {
		.slick-list {
			padding: 0 0 20px;
			@include media-breakpoint-down(sm) {
				//padding: 0 25px;
			}
			.card-group-item {
				border-radius: 10px;
				.card-img-top {
					border-radius: 10px;
				}
			}
		}
		button {
			&.slick-arrow {
				background: transparent;
				border: 0;
				position: absolute;
				//top: 50%;
				bottom: -40px;
				> img {
					border-radius: 20px;
    				box-shadow: 0px 0px 20px #00000029;
				}
				
				>i {
					font-size: 3rem;
					color: #2b2850;
				}
			}
			&.slick-prev {
				left: 90px;
				> img {
					transform: rotate(180deg);
				}
			}
			&.slick-next {
				left: 140px;
			}
			@include media-breakpoint-down(sm) {
				&.slick-prev {
					left: -45px;
					top: 0;
				}
				&.slick-next {
					right: -45px;
					top: 0;
					left: auto;
				}
			}
			@include media-breakpoint-down(xs) {
				&.slick-prev {
					left: 20px;
					top: -30px;
					z-index: 2;
					> img {
						opacity: 0.7;
					}
				}
				&.slick-next {
					right: 20px;
					top: -30px;
					left: auto;
					> img {
						opacity: 0.7;
					}
				}
			}
		}
		.slick-dots {
			bottom: -50px!important;
			z-index: 1;
			padding-left: 0;
		}
	}
}

/************ Slick Dots Css *************/

.slick-dots {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    display: block;
    margin-top: 20px;
    text-align: center;
	transition: all 1s;
	li {
		position: relative;
		display: inline-block;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		pointer-events: auto;
		cursor: pointer;
		z-index: 100;
		transition: all 0.3s;
		line-height: 25px;
		button {
			font-size: 0;
			line-height: 0;
			display: block;
			border: 0;
			outline: none;
			margin: 0 auto;
			display: block;
			margin-top: 11px;
			background: transparent;
			&::before {
				content: "";
				display: block;
				width: 12px;
				height: 12px;
				cursor: pointer;
				color: transparent;
				border: 0;
				outline: none;
				background: #d8d8d8;
				border-radius: 100%;
				transition: all 0.3s;
				margin: 0 auto;
				display: block;
			}
		}
		&.slick-active {
			button{
				&::before {
					background-color: #193667;
				}
			}
		}
		&:not(.slick-active) {
			&:hover {
				button {
					&::before {
						background-color: #193667;
					}
				}
			}
		}
	}
}




/********* Foundation Target Box Css *********/
.target-section {
	border-color: #44c7ea!important;
	border-width: 2px!important;
	border-radius: 0.75rem!important;
}

/********* Sustaineverse Title Underline Css *********/
.title-underline {
	&::after {
		content: '';
		display: block;
		border-bottom: 4px solid $primary;
		width: 105px;
		margin-top: 5px;
	}
}

.title-underline{
	&.projects {
		&::after {
			content: '';
			border-color: #1f3362!important;
		}
	}
}

.title-underline{
	&.support-unsdg {
		&::after {
			content: '';
			border-color: #00a6d6!important;
		}
	}
}

.title-underline{
	&.section-underline {
		&::after {
			content: '';
			border-color: #e21f26!important;
		}
	}
}

/********* About Css *********/

.letscast-about {
	.about-img-1 {
		position: absolute;
		top: 70px;
		left: -5px;
		> img {
			width: 300px;
			@include media-breakpoint-only(lg) {
				width: 250px;
			}
			@include media-breakpoint-only(md) {
				width: 200px;
			}
		}
	}
	.about-img-2 {
		position: absolute;
		top: 40px;
		right: -75px;
		@include media-breakpoint-only(lg) {
			right: -65px;
		}
		> img {
			width: 500px;
			@include media-breakpoint-only(lg) {
				width: 400px;
			}
			@include media-breakpoint-only(md) {
				width: 280px;
			}
		}
	}
}

/********* Join Us Css *********/

.letscast-joinus {
	.title-lines {
		&::before, &::after{
			content: '';
			position: absolute;
			width: 45px;
			height: 1px;
			background-color: #cbcbcb;
			margin-left: 20px;
			top: 16px;
		}
		&::before{
			margin-left: -70px;
		}
	}
}

.img-fluid {
	&.about-us-banner {
		max-height: 610px;
		@include media-breakpoint-only(lg){
			max-height: 500px;
		}
	}
}
  
.mini-box-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 25px;
	@media only screen and (max-width: 768px) {
		display: block;
	}
}
  
.mini-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
.partner-img {
	position: relative;

	img {
		max-width: 1200px;
		position: absolute;
		left: 0;
		top: -135px;
		@media only screen and (max-width: 768px) {
		max-width: 730px;
		margin-top: 72px;
		}
		@media only screen and (max-width: 425px) {
		max-width: 350px;
		}
	}
}

.partner-sec {
	position: relative;
}

.mission {
	.art-clip {
		max-width: 250px;
		@include media-breakpoint-down(sm) {
			max-width: 100px;
		}
	}
}

.vision-sec {
	@include media-breakpoint-up(lg) {
		margin-top: 150px;
	}
}


.partner-sec {
	.partner-sec-header {
		display: flex;
		align-items: center;
	}
}

.yellow-arrow {
	width: 100px;
	@media only screen and (max-width: 768px) {
		width: 70px;
	}
}

.partner-logo{
	display: flex;
	justify-content: space-between;
	@media only screen and (max-width: 768px) {
		display: block;
		text-align: center;
	}
}

.partner-img-row{
	@include media-breakpoint-up(md) {
		display: flex;
		align-items: flex-start;
	}
	img{
		display: block;
		margin-bottom: 20px;
		@include media-breakpoint-up(md) {
			margin-right: 60px;
		}
		@include media-breakpoint-down(sm){
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.partner-img-right{
	@include media-breakpoint-only(md){
		width: 100%;
		text-align: center;
	}
	img{
		position: relative;
		@include media-breakpoint-up(lg){
			top: -70px;
		}
	}
}

.par-img, .par-img-2{
	height: 100%;
}

.par-right-img {
	height: 100%;
	@media only screen and (max-width: 575px) {
		top: 0 !important;
	}
}

.partner-img-left{
	border-bottom: 2px solid gray;
}

.partner-img-row-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@include media-breakpoint-down(sm){
		display: block;
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 1.5rem
		}
	}
}

.values-section {
	.border-img {
		@include media-breakpoint-only(sm) {
			width: 500px!important;
		}
	}
}


/********* HOME Css *********/
  
.home-banner-item-img {
	width: 400px;
	@media only screen and (max-width: 768px) {
	  width: 250px;
	}
}
  
.home-banner-wrapper {
	display: flex;
}

  
/********* Counter Css *********/

.landing-page-counter {
	background-color:#0C1C07;
	padding: 40px 15px;
	@include media-breakpoint-down(xs) {
		padding: 0 15px;
	}
	.row {
		div {
			&[class*="col-"] {
				&:after {
					content: '';
					display: block;
					position: absolute;
					width: 1px;
					height: 75px;
					top: 0;
					left: 0;
					border-right: 1px solid #556152;
					@include media-breakpoint-down(xs) {
						height: 1px;
						width: auto;
						top: -22px;
						right: 20px;
						left: 20px;
						border-bottom: 1px solid #556152;
					}
				}
				&:first-child {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}
  

/**************** Site Preloader *****************/

.site-preloader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
	background: #fff;
	.animation-preloader {
		position: absolute;
		z-index: 100;
		.spinner {
			animation: spinner 1s infinite linear;
			border-radius: 50%;
			border: 5px solid rgba(213,62,56,.15);
			border-top-color: $primary;
			height: 150px;
			margin: 0 auto 45px auto;
			width: 150px;
		}
		.txt-loading {
			text-align: center;
			user-select: none;
			.letters-loading{
				font-family: Lato, sans-serif;
				font-weight: 700;
				letter-spacing: 2px;
				display: inline-block;
				color: rgba(213,62,56,.15);
				position: relative;
				font-size: 25px;
				line-height: 0;
				&:before {
					animation: letters-loading 4s infinite;
					color: $primary;
					content: attr(data-text-preloader);
					left: 0;
					opacity: 0;
					top: 0;
					line-height: 0;
					position: absolute;
				}
				&:nth-child(2):before {
					animation-delay: .2s
				}
				&:nth-child(3):before {
					animation-delay: .4s
				}
				&:nth-child(4):before {
					animation-delay: .6s
				}
				&:nth-child(5):before {
					animation-delay: .8s
				}
				&:nth-child(6):before {
					animation-delay: 1s
				}
				&:nth-child(7):before {
					animation-delay: 1.2s
				}
				&:nth-child(8):before {
					animation-delay: 1.4s
				}
				&:nth-child(9):before {
					animation-delay: 1.6s
				}
				&:nth-child(10):before {
					animation-delay: 1.8s
				}
				&:nth-child(11):before {
					animation-delay: 2.0s
				}
			}
		}
	}
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes letters-loading {
    0%,
    100%,
    75% {
        opacity: 0;
        transform: rotateY(-90deg)
    }
    25%,
    50% {
        opacity: 1;
        transform: rotateY(0)
    }
}

@media screen and (max-width:767px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 8em;
				width: 8em
			}
		} 
	} 
}

@media screen and (max-width:500px) {
    .site-preloader {
		.animation-preloader {
			.spinner {
				height: 7em;
				width: 7em;
				margin: 0 auto 20px;
			}
			.txt-loading {
				.letters-loading {
					font-size: 20px;
					letter-spacing: 0;
				}
			} 
		} 
	} 
}


/**************Connect Video CSS********************/

.videoWrapper {
    position: relative;
    width: 100%;
    height: 0;
	background-color: #000;
	&.videoWrapper-res {
		padding-top: 56%;
	}
	.videoIframe {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: transparent;
	}
	.videoPoster {
		top: 0;
		right: 0;
		left: 0;
		height: 100%;
		outline: none;
		background-position: 50% 50%;
		background-size: 100% 100%;
		background-size: cover;
		opacity: 1;
		-webkit-transition: opacity 800ms, height 0s;
		transition: opacity 800ms, height 0s;
		-webkit-transition-delay: 0s, 0s;
		transition-delay: 0s, 0s;
	}
	&.videoWrapperActive {
		.videoPoster {
			opacity: 0;
			height: 0;
			-webkit-transition-delay: 0s, 800ms;
			transition-delay: 0s, 800ms;
		}
	}
}


@keyframes move {
	25% {
		opacity: 1;

	}
	33% {
		opacity: 1;
		transform: translateY(30px);
	}
	67% {
		opacity: 1;
		transform: translateY(40px);
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
	}
}

/*************** DatePicker ****************/

.datepicker {
	td,th {
		width: 2rem!important;
		@include media-breakpoint-down(sm) {
			height: 2rem!important;
		}
		font-size: 0.85rem;
	}
	&.datepicker-dropdown {
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
		.datepicker-months, .datepicker-years, .datepicker-decades, .datepicker-centuries {
			.table-condensed {
				width: 100%;
			}
		}
	}
}


/*************** Select Dropdown Focus ****************/

select {
	&.form-control {
		&.lang-select {
			&:focus {
				box-shadow: none;
			}
			&:hover {
				color: red;
				cursor: pointer;
			}
		}
	}
}


/*************** Search Box Css ****************/

.search-section {
	.search-title {
		@include media-breakpoint-down(xs) {
			font-size: 30px;
		}
	}
	.search-topic{
		margin-bottom: auto;
		margin-top: auto;
		//height: 70px;
		background-color: #121212;
		border-radius: 40px;
		padding: 10px;
		
		&:hover {
			.search_icon {
				background: red;
				color: $white;
			}
		}
		.search_input {
			color: $white;
			border: 0;
			outline: 0;
			background: none;
			width: 0;
			margin-top:5px;
			margin-bottom: 5px;
			caret-color:transparent;
			line-height: 40px;
			transition: width 0.4s linear;
			padding: 0 10px;
			width: auto;
			caret-color:red;
		}
		.search_icon{
			height: 100%;
			width: 130px;
			float: right;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 40px;
			color: $white;
			transition: .3s ease-in-out;
			background-color: $primary;
		}
	}
}

a {
	&:link {
		text-decoration:none;
	}
}	
