/*****Fixed Header When Scroll****/
.fixed-header {
	position: fixed;
	width: 100%;
	float: left;
	z-index: 999;
	background: #080808;
	box-shadow: 0 10px 20px rgba(71,80,89,.15);
	top: 0;
}

/*****Navbar Css****/
header {
	width: 100%;
	float: left;
	padding: 0;
	position: absolute;
	z-index: 2;
	ul{
		&.navbar-nav {
			li {
				font-size: 0.875rem;
				@include media-breakpoint-up(xl) {
					font-size: 1rem;
				}
				@include media-breakpoint-up(md) {
					&.active {
						a {
							&.nav-link {
								transition: all .3s;
								color: $white;
								font-weight: bold;
								opacity: 1;
							}
						}
					}
				}
				a {
					&.nav-link {
						transition: all .3s;
						color: $white;
						opacity: 0.71;
						@include media-breakpoint-down(md) {
							opacity: 0.6;
						}
						&:hover {
							@include media-breakpoint-up(md){
								color: $white;
								opacity: 1;
							}
						}
						@include media-breakpoint-up(md) {
							padding-right: 1.5rem!important;
							padding-left: 1.5rem!important;
						}
					}
				}
			}
		}
	}
}


@include media-breakpoint-only(sm) {
	.letscast-navbar {
		.navbar-nav {
			li {
				a {
					margin: 0 45px 8px 45px!important;
				}
			} 
		} 
	} 
}

@include media-breakpoint-down(md) {
	#navbarResponsive {
		position: absolute;
		background: $tertiary;
		width: 100%;
		top: 71px;
		z-index: 9;
		left: 0;
		padding: 15px;
	}
	.letscast-navbar {
		.navbar-nav {
			li {
				a {
					margin: 0 0 8px 0;
					color: $white;
					padding: 10px!important;
					border-radius: 4px;
					font-weight: 600;
					// font-family: fira sans,sans-serif;
					background: $primary;
				}
			}
			.dropdown-menu {
				padding: .5rem 1rem .1rem 1rem;
				font-size: 0.875rem;
				margin-bottom: 0.5rem;
				border: 0;
				background-color: #e6e6e6;
			} 
		} 
	} 
}